 {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #eef1f6;
    padding: 20px;
    transition: 0.3s;
}

/* Dark Mode */
.dark {
    background: #111827;
    color: #f3f4f6;
}

.container {
    max-width: 650px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    max-height: 90vh;
    overflow-y: auto;
}

.dark .container {
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#darkToggle {
    background: #4b5563;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.timer-box {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    color: #ef4444;
}

.dark .timer-box {
    color: #f87171;
}

.progress {
    height: 10px;
    width: 100%;
    background: #e5e7eb;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #4f46e5;
    border-radius: 10px;
    transition: width 0.3s;
}

/* Answer Options */
.option {
    padding: 15px;
    border: 2px solid #cbd5e1;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    background: #f9fafb;
    color: black;
}

.option:hover {
    background: #e0e7ff;
    border-color: #6366f1;
}

/* Dark Mode Fix */
.dark .option {
    background: #374151;
    color: #f3f4f6 !important;
    border-color: #4b5563;
}

.dark .option:hover {
    background: #4b5563;
    border-color: #818cf8;
}

.selected {
    background: #e0e7ff;
    border-color: #6366f1;
}

.dark .selected {
    background: #4b5563 !important;
    border-color: #818cf8 !important;
    color: #f3f4f6 !important;
}

#submitBtn {
    width: 100%;
    padding: 15px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

#submitBtn:hover {
    background: #4338ca;
}

/* Results Page */
.result-box {
    text-align: center;
    margin-bottom: 20px;
}

.review {
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 12px;
    background: #f9fafb;
    border-left: 6px solid #4f46e5;
}

.dark .review {
    background: #1f2937;
    border-left-color: #818cf8;
    color: #f3f4f6 !important;
}

.correct {
    background: #bbf7d0;
    border: 2px solid #16a34a;
}

.dark .correct {
    background: #14532d;
    border-color: #22c55e;
}

.wrong {
    background: #fecaca;
    border: 2px solid #dc2626;
}

.dark .wrong {
    background: #7f1d1d;
    border-color: #ef4444;
}
